#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rpn.h>

/ {

    behaviors {
        // Thanks @joelspadin!
        ZMK_MACRO(bt_clr,
            bindings = <&bt BT_CLR>;
        )
        bt_clr_tap: bt_clr_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "BT_TAP";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&bt_clr>, <&kp>;
        };
        rpn: rpn_calc {
            compatible = "zmk,behavior-rpn-calculator";
            label = "RPN_CALC";
            #binding-cells = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            // ┌───┬───┬───┬───┐
            // │NUM│ / │ * │ - │
            // ├───┼───┼───┼───┤
            // │ 7 │ 8 │ 9 │ + │
            // ├───┼───┼───┤───│
            // │ 4 │ 5 │ 6 │DEL│
            // ├───┼───┼───┼───┤
            // │ 1 │ 2 │ 3 │RET│
            // ├───┴───┼───┤   │
            // │ 0     │ . │   │
            // └───────┴───┴───┘
            bindings = <
                &bt_clr_tap 0 KP_NUM   &rpn RPN_DIVIDE   &rpn RPN_MULTIPLY  &rpn RPN_SUBTRACT
                &rpn KP_NUMBER_7       &rpn KP_NUMBER_8  &rpn KP_NUMBER_9   &rpn RPN_ADD
                &rpn KP_NUMBER_4       &rpn KP_NUMBER_5  &rpn KP_NUMBER_6   &rpn BACKSPACE
                &rpn KP_NUMBER_1       &rpn KP_NUMBER_2  &rpn KP_NUMBER_3   &rpn KP_ENTER
                &rpn KP_NUMBER_0       &rpn KP_DOT
            >;
        };
    };
};
